<% if notice %> 
 <p id= "notice" > <%= notice %> </p> 
 <% end %> 
 <h1> Your Pragmatic Catalog </h1> 
 <% @experiences.each do |experience| %> 
	 <div class= "entry" > 
		 <%= image_tag(experience.image_url) %> 
		 <h3> <%= experience.title %> </h3> 
		 <%= sanitize(experience.description) %> 
		 <div class= "price_line" > 
			 <span class= "price" > <%= number_to_currency(experience.price) %> </span> 
		 </div> 
	 </div>
<!-- 	 <strong><%= request.location.inspect %></strong>
 -->	 
 <strong><%= request.location.address %></strong>
<!--  <strong><%= request.location.city %></strong>
 <strong><%= request.location.state %></strong>
 <strong><%= request.location.country %></strong> -->
  <%= form_tag("/step_distance/index", method: :get) do %>
  <%= text_field_tag :city, nil, :placeholder => request.location.city %>
  <%= submit_tag 'Find experiences' %>
<% end %>

        <div id="example" class="tiles">
            <a href="photos/image-001.jpg">
                <img src="assets/photos/1.jpg" />
            </a>
            <a href="photos/image-002.jpg">
                <img src="assets/photos/2.jpg" />
            </a>
            <a href="photos/image-003.jpg">
                <img src="assets/photos/3.jpg" />
            </a>
            <a href="photos/image-004.jpg">
                <img src="assets/photos/4.jpg" />
            </a>
            <a href="photos/image-005.jpg">
                <img src="assets/photos/5.jpg" />
            </a>
            <a href="photos/image-006.jpg">
                <img src="assets/photos/6.jpg" />
            </a>
            <a href="photos/image-005.jpg">
                <img src="assets/photos/7.jpg" />
            </a>
            <a href="photos/image-006.jpg">
                <img src="assets/photos/8.jpg" />
            </a>
        </div>        

<% end %>