<% if notice %> 
 <p id= "notice" > <%= notice %> </p> 
 <% end %> 
 <div id="example" class= "tiles"> 
 
<% for experience in @experiences.sample(20) %> 
    <%= link_to experience do %>
    <%= image_tag(experience.image_url) %>
      <% end %> 
<% end %>
</div>

<div class="center jumbotron">

 <h2><%= request.location.address %></h2>

</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
  <%= form_tag("/step_distance/index", method: :get) do %>
    <%= text_field_tag :city_name, nil, :class => "form-control", :placeholder => request.location.city %>
    <%= submit_tag 'Find experiences', class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
</div>
<!--    <div class="map_canvas"></div>

    <form>
      <input id="geocomplete" type="text" placeholder="Type in an address" value="Empire State Bldg" />
      <input id="find" type="button" value="find" />
    </form> -->




