<%= form_for(@world_city) do |f| %>
  <% if @world_city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@world_city.errors.count, "error") %> prohibited this world_city from being saved:</h2>

      <ul>
      <% @world_city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :geonameid %><br>
    <%= f.number_field :geonameid %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :asciiname %><br>
    <%= f.text_field :asciiname %>
  </div>
  <div class="field">
    <%= f.label :alternatenames %><br>
    <%= f.text_area :alternatenames %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :feature_class %><br>
    <%= f.text_field :feature_class %>
  </div>
  <div class="field">
    <%= f.label :feature_code %><br>
    <%= f.text_field :feature_code %>
  </div>
  <div class="field">
    <%= f.label :country_code %><br>
    <%= f.text_field :country_code %>
  </div>
  <div class="field">
    <%= f.label :cc2 %><br>
    <%= f.text_field :cc2 %>
  </div>
  <div class="field">
    <%= f.label :admin1_code %><br>
    <%= f.text_field :admin1_code %>
  </div>
  <div class="field">
    <%= f.label :admin2_code %><br>
    <%= f.text_field :admin2_code %>
  </div>
  <div class="field">
    <%= f.label :admin3_code %><br>
    <%= f.text_field :admin3_code %>
  </div>
  <div class="field">
    <%= f.label :admin4_code %><br>
    <%= f.text_field :admin4_code %>
  </div>
  <div class="field">
    <%= f.label :population %><br>
    <%= f.number_field :population %>
  </div>
  <div class="field">
    <%= f.label :elevation %><br>
    <%= f.number_field :elevation %>
  </div>
  <div class="field">
    <%= f.label :dem %><br>
    <%= f.number_field :dem %>
  </div>
  <div class="field">
    <%= f.label :timezone %><br>
    <%= f.text_field :timezone %>
  </div>
  <div class="field">
    <%= f.label :modification_date %><br>
    <%= f.date_select :modification_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
