<p id="notice"><%= notice %></p>

<h1>Listing World Cities</h1>

<table>
  <thead>
    <tr>
      <th>Geonameid</th>
      <th>Name</th>
      <th>Asciiname</th>
      <th>Alternatenames</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Feature class</th>
      <th>Feature code</th>
      <th>Country code</th>
      <th>Cc2</th>
      <th>Admin1 code</th>
      <th>Admin2 code</th>
      <th>Admin3 code</th>
      <th>Admin4 code</th>
      <th>Population</th>
      <th>Elevation</th>
      <th>Dem</th>
      <th>Timezone</th>
      <th>Modification date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @world_cities.each do |world_city| %>
      <tr>
        <td><%= world_city.geonameid %></td>
        <td><%= world_city.name %></td>
        <td><%= world_city.asciiname %></td>
        <td><%= world_city.alternatenames %></td>
        <td><%= world_city.latitude %></td>
        <td><%= world_city.longitude %></td>
        <td><%= world_city.feature_class %></td>
        <td><%= world_city.feature_code %></td>
        <td><%= world_city.country_code %></td>
        <td><%= world_city.cc2 %></td>
        <td><%= world_city.admin1_code %></td>
        <td><%= world_city.admin2_code %></td>
        <td><%= world_city.admin3_code %></td>
        <td><%= world_city.admin4_code %></td>
        <td><%= world_city.population %></td>
        <td><%= world_city.elevation %></td>
        <td><%= world_city.dem %></td>
        <td><%= world_city.timezone %></td>
        <td><%= world_city.modification_date %></td>
        <td><%= link_to 'Show', world_city %></td>
        <td><%= link_to 'Edit', edit_world_city_path(world_city) %></td>
        <td><%= link_to 'Destroy', world_city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New World city', new_world_city_path %>
