<p id="notice"><%= notice %></p>

<p>
  <strong>Geonameid:</strong>
  <%= @world_city.geonameid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @world_city.name %>
</p>

<p>
  <strong>Asciiname:</strong>
  <%= @world_city.asciiname %>
</p>

<p>
  <strong>Alternatenames:</strong>
  <%= @world_city.alternatenames %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @world_city.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @world_city.longitude %>
</p>

<p>
  <strong>Feature class:</strong>
  <%= @world_city.feature_class %>
</p>

<p>
  <strong>Feature code:</strong>
  <%= @world_city.feature_code %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @world_city.country_code %>
</p>

<p>
  <strong>Cc2:</strong>
  <%= @world_city.cc2 %>
</p>

<p>
  <strong>Admin1 code:</strong>
  <%= @world_city.admin1_code %>
</p>

<p>
  <strong>Admin2 code:</strong>
  <%= @world_city.admin2_code %>
</p>

<p>
  <strong>Admin3 code:</strong>
  <%= @world_city.admin3_code %>
</p>

<p>
  <strong>Admin4 code:</strong>
  <%= @world_city.admin4_code %>
</p>

<p>
  <strong>Population:</strong>
  <%= @world_city.population %>
</p>

<p>
  <strong>Elevation:</strong>
  <%= @world_city.elevation %>
</p>

<p>
  <strong>Dem:</strong>
  <%= @world_city.dem %>
</p>

<p>
  <strong>Timezone:</strong>
  <%= @world_city.timezone %>
</p>

<p>
  <strong>Modification date:</strong>
  <%= @world_city.modification_date %>
</p>

<p>
  <strong>Map:</strong>
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@world_city.latitude}%2C#{@world_city.longitude}" %>
</p>

<%= link_to 'Edit', edit_world_city_path(@world_city) %> |
<%= link_to 'Back', world_cities_path %>
