<h1>Listing Experiences</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Price</th>
      <th>Season</th>
      <th>Date</th>
      <th>Duration</th>
      <th>Tags</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @experiences.each do |experience| %>
      <tr class='<%= cycle('list_line_odd', 'list_line_even') %>'>
    <td>
      <%= image_tag(experience.image_url, class: 'list_image') %>
    </td>
 
    <td class="list_description">
      <dl>
        <dt><%= experience.title %></dt>
        <dd><%= truncate(strip_tags(experience.description),
               length: 80) %></dd>
      </dl>
    </td>

        <td><%= experience.title %></td>
        <td><%= experience.category %></td>
        <td><%= experience.description %></td>
        <td><%= experience.image_url %></td>
        <td><%= experience.price %></td>
        <td><%= experience.season %></td>
        <td><%= experience.date %></td>
        <td><%= experience.duration %></td>
        <td><%= experience.tags %></td>
        <td><%= experience.address %></td>
        <td><%= experience.latitude %></td>
        <td><%= experience.longitude %></td>
    <td class="list_actions">
      <%= link_to 'Show', experience %><br/>
      <%= link_to 'Edit', edit_experience_path(experience) %><br/>
      <%= link_to 'Destroy', experience, method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Experience', new_experience_path %>
