<!-- Header -->
<header id="top" class="header">
<style>
  .header { background-image: url(<%= image_path(@experience.image_url) %>); }
</style>
    <div class="text-vertical-center">
        <h1><%= @experience.title %></h1>
        <h3><%= @experience.description.truncate(40, separator: /\s/) %></h3>
        <h3><%= @experience.address.titleize %></h3>
        <br>
        <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
    </div>
</header>

<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2><%= @experience.title %></h2>
                <p class="lead"></a><%= @experience.description %></p>
                <p class="lead"></a>The Baltic Sea route measures 800 km and offers an amazingly beautiful cycling route. You will experience some of Denmark’s most beautiful sceneries from fjords in the west through the island scenery by Funen to the open landscape in Lolland-Falster and the amazing white cliffs at Møn. Taking this special cycling route you will always be close to the sea, changing between idyllic islands, small boat crossings and wonderful cities. You can rest assured that taking the Baltic Sea route you will be spoilt for choice when it comes to nature and beautiful landscapes. Doing the Baltic Sea route will give you an experience for life.</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Related Experiences</h2>
                <hr class="small">
                <div class="row">
                    <% for experience in @experiences.sample(4) %>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <%= image_tag(experience.image_url, :size => "200x140") %>
                                <h4><strong><%= experience.title.truncate(20, separator: /\s/) %></strong></h4>
                                <p><%= experience.description.truncate(30, separator: /\s/) %></p>
                                <%= link_to "Learn More", experience, class: "btn btn-light" %>
                            </div>
                        </div>
                    <% end %>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

    <!-- Callout -->
    <aside class="callout">
    <style>
/*     .callout { background-image: url(<%= image_path(@experience.image_url) %>); }*/
     .callout { background-image: url(../assets/photos/exp50-2.jpeg); }
    </style>
        <div class="col-md-3 col-md-offset-3">
            <h3><i><br><br>Trained cyclists not accompanied by small children may be able to do the 800 km long route in a couple of weeks. However, you might choose to divide the trip  into two – giving you the chance to come back again next year.</i></h3>
        </div>
    </aside>

    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Gallery</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="../assets/photos/exp50-1.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="../assets/photos/exp50-2.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="../assets/photos/exp50-3.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="../assets/photos/exp50-4.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
 <!--                    <a href="#" class="btn btn-dark">View More Items</a> -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Call to Action -->
    <aside class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="text-center col-md-6 col-md-offset-3">
                    <h3>19 stages through beautiful landscapes</h3>
                    <h4 style="line-height:25px;"><p>The Baltic Sea route is divided into 19 stages following, where possible, the clearly marked national, regional and local cycling routes. You can start The Baltic Sea route anywhere along the route as you like. Going by the book you should start at the German border in South Jutland and cycle along the route until you’re back where you started. But you are free to begin the trip anywhere you feel like. Most stages are 40 to 50 km, some even 60 km. But it will not feel that long, as you will be met by beautiful sights, castles, parks and museums, where you can learn more about the local history.</p>

<p>The lovely ferry trips across the sea south of Fyn, where islands lay scattered like beads on a string, offers a welcoming break.</p> 

<p>Literally, going by the book refers to an excellent book on cycling the Baltic Sea route, that will fit into the map pocket of a bike frame pannier. It gives you detailed road maps with cycling routes and descriptions of landscapes and sights. There’s also a guide to hotels, inns, hostels, camping areas, B&Bs, ferries, bike repair shops and much more</p></h4>
<!--<script type="text/javascript" src="http://static.whitelabel.dohop.com/js/iframe.js?wl=test8984902&a1=MAD&a2=CPH&d1=2015-06-13&d2=2015-06-19"></script>-->
                    <a href="#" class="btn btn-lg btn-light">Contact providers</a>
                    <a href="#" class="btn btn-lg btn-dark">More info</a>
                </div>
            </div>
        </div>
    </aside>

    <!-- Map -->
    <section id="contact" class="map">
    <%= @embed_code %>
    </section>
<% breadcrumb :experience, @experience %>
<!-- Portfolio Item Row -->
<!-- <div class="row">
<%= image_tag(@experience.image_url) %>
 
    <div class="col-md-8">
        <%= image_tag(@experience.image_url) %>
    </div>

    <div class="col-md-4">
        <h3>Experience Description</h3>
        <p><%= @experience.description %></p>
        <h3>Experience Details</h3>
        <ul>
            <li><%= @experience.price %>€</li>
            <li><%= @experience.duration %></li>
            <li><%= @experience.tags %></li>
            <li><%= @experience.address %></li>
            <li><%= @experience.category %></li>
            <li><%= @experience.season %></li>
            <li><%= @experience.date %></li>
            <li><%= @experience.duration %></li>
            <li><%= @experience.latitude %></li>
            <li><%= @experience.longitude %></li>
            <br><%= image_tag "http://maps.google.com/maps/api/staticmap?size=275x180&sensor=false&zoom=16&markers=#{@experience.latitude}%2C#{@experience.longitude}" , class: "img-thumbnail" %>
        </ul>
    </div> -->


<!-- Related Projects Row -->
<!-- <div class="row">

    <div class="col-lg-12">
        <h3 class="page-header">Related Experiences</h3>
    </div>
    <div class="owl-carousel" align="middle">
    <% for experience in @experiences %>
      <div class="col-sm-3 col-xs-6">
      <%= link_to experience do %>
      <%= image_tag(experience.image_url, :size => "275x180") %>
        <% end %>
      </div>
    <% end %>
    </div>

    </div>
</div> -->


<!-- <%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %> -->
