<p>
  <strong>Title:</strong>
  <%= @experience.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @experience.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @experience.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @experience.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @experience.price %>
</p>

<p>
  <strong>Season:</strong>
  <%= @experience.season %>
</p>

<p>
  <strong>Date:</strong>
  <%= @experience.date %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @experience.duration %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @experience.tags %>
</p>

<p>
  <strong>Address:</strong>
  <%= @experience.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @experience.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @experience.longitude %>
</p>

<p>
  <strong>Map:</strong>
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@experience.latitude}%2C#{@experience.longitude}" %>
</p>

<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
