<h1>StepDistance#index</h1>
<p>Find me in app/views/step_distance/index.html.erb</p>
<!-- <strong><%= p @city_name.inspect %></strong>
<strong><%= p @locations.inspect %></strong> -->

<h3>Nearby locations</h3>
<ul>
<% for location in @locations %>
  <li><%= link_to location.address, location %> (<%= location.distance.round(2) %> kms)</li>
<% end %>
</ul>

<div class="cuadro_intro_hover">
	<%= image_tag(@local_travel.image_url) %>
<div class="caption">
	<div class="blur"></div>
	<div class="caption-text">
		<h3 style="padding:10px;"><%= p @local_travel.title %></h3>
		<%= @local_travel.description %>
	</div>
</div>
</div>

<div class="cuadro_intro_hover">
	<%= image_tag(@national_travel.image_url) %>
<div class="caption">
	<div class="blur"></div>
	<div class="caption-text">
		<h3 style="padding:10px;"><%= p @national_travel.title %></h3>
		<%= @national_travel.description %>
	</div>
</div>
</div>

<div class="cuadro_intro_hover">
	<%= image_tag(@continental_travel.image_url) %>
<div class="caption">
	<div class="blur"></div>
	<div class="caption-text">
		<h3 style="padding:10px;"><%= p @continental_travel.title %></h3>
		<%= @continental_travel.description %>
	</div>
</div>
</div>

<div class="cuadro_intro_hover">
	<%= image_tag(@exotic_travel.image_url) %>
<div class="caption">
	<div class="blur"></div>
	<div class="caption-text">
		<h3 style="padding:10px;"><%= p @exotic_travel.title %></h3>
		<%= @exotic_travel.description %>
	</div>
</div>
</div>



