<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>From <%= @city_name.capitalize %></h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                        		  <div class="cuadro_intro_hover img-portfolio img-responsive">
															 <%= image_tag(@mychoice.image_url, :height => "300px", :width => "100%") %>
																<div class="caption">
																	<div class="blur"></div>
																	<div class="caption-text">
																		<h3 style="padding:10px;"><%= p @mychoice.title.truncate(20, separator: /\s/) %></h3>
																		<%= @mychoice.description.truncate(30, separator: /\s/) %><br>
																		<%= @mychoice.address %><br>
																		<%= @mychoice_distance.to_f.round(2) %> kms<br>
																		<%= @mychoice_distance_price.round(2) + @mychoice.price %>€<br><br>
																		<center><%= link_to "Learn More", @mychoice, class:"btn btn-dark btn-lg", style: "margin: 2px;" %>
																		<%= link_to "More travels like this", @mychoice, class:"btn btn-dark btn-lg", style: "margin: 2px;" %></center>
																	</div>
																</div>
															</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                        		  <div class="cuadro_intro_hover img-portfolio img-responsive">
															 <%= image_tag(@first_category.image_url, :height => "300px", :width => "100%") %>
																<div class="caption">
																	<div class="blur"></div>
																	<div class="caption-text">
																		<h3 style="padding:10px;"><%= p @first_category.title.truncate(20, separator: /\s/) %></h3>
																		<%= @first_category.description.truncate(30, separator: /\s/) %><br>
																		<%= @first_category.address %><br>
																		<%= @first_category.distance.to_f.round(2) %> kms<br>
																		<%= @first_category_distance_price.round(2) + @first_category.price %>€<br><br>
																		<center><%= link_to "Learn More", @first_category, class:"btn btn-dark btn-lg", style: "margin: 2px;" %>
																		<%= link_to "More travels like this", @first_category, class:"btn btn-dark btn-lg", style: "margin: 2px;" %></center>
																	</div>
																</div>
															</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                        		  <div class="cuadro_intro_hover img-portfolio img-responsive">
															 <%= image_tag(@second_category.image_url, :height => "300px", :width => "100%") %>
																<div class="caption">
																	<div class="blur"></div>
																	<div class="caption-text">
																		<h3 style="padding:10px;"><%= p @second_category.title.truncate(20, separator: /\s/) %></h3>
																		<%= @second_category.description.truncate(30, separator: /\s/) %><br>
																		<%= @second_category.address %><br>
																		<%= @second_category.distance.to_f.round(2) %> kms<br>
																		<%= @second_category_distance_price.round(2) + @second_category.price %>€<br><br>
																		<center><%= link_to "Learn More", @second_category, class:"btn btn-dark btn-lg", style: "margin: 2px;" %>
																		<%= link_to "More travels like this", @second_category, class:"btn btn-dark btn-lg", style: "margin: 2px;" %></center>
																	</div>
																</div>
															</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                        		  <div class="cuadro_intro_hover img-portfolio img-responsive">
															 <%= image_tag(@third_category.image_url, :height => "300px", :width => "100%") %>
																<div class="caption">
																	<div class="blur"></div>
																	<div class="caption-text">
																		<h3 style="padding:10px;"><%= p @third_category.title.truncate(20, separator: /\s/) %></h3>
																		<%= @third_category.description.truncate(30, separator: /\s/) %><br>
																		<%= @third_category.address %><br>
																		<%= @third_category.distance.to_f.round(2) %> kms<br>
																		<%= @third_category_distance_price.round(2) + @third_category.price %>€<br><br>
																		<center><%= link_to "Learn More", @third_category, class:"btn btn-dark btn-lg", style: "margin: 2px;" %>
																		<%= link_to "More travels like this", @third_category, class:"btn btn-dark btn-lg", style: "margin: 2px;" %></center>
																	</div>
																</div>
															</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<% breadcrumb :step_category, params[:controller] %>
