<h1>From <%= @city_name.capitalize %></h1>

<div class="row">
  <div class="col-xs-6">
	  <%= link_to @mychoice do %>
	  <div class="cuadro_intro_hover">
    <%= image_tag(@mychoice.image_url, :height => "300px", :width => "100%") %>
			<div class="caption">
				<div class="blur"></div>
				<div class="caption-text">
					<h3 style="padding:10px;"><%= p @mychoice.title %></h3>
					<%= @mychoice.description %><br>
					<%= @mychoice.address %><br>
					<%= @mychoice_distance.to_f.round(2) %> kms<br>
					<%= @mychoice_distance_price.round(2) + @mychoice.price %>€					
				</div>
			</div>
		</div>
		<% end %>
		<h2>Keep my choice</h2>
		




		<% for experience in @cultural_travel %> 
    <%= link_to experience do %>
    <%= image_tag(experience.image_url) %>
      <% end %> 
<% end %>


	</div>
</div>