<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>From <%= @city_name.capitalize %></h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                        		  <div class="cuadro_intro_hover img-portfolio img-responsive">
															 <%= image_tag(@mychoice.image_url, :height => "300px", :width => "100%") %>
																<div class="caption">
																	<div class="blur"></div>
																	<div class="caption-text">
																		<h3 style="padding:10px;"><%= p @mychoice.title.truncate(20, separator: /\s/) %></h3>
																		<%= @mychoice.description.truncate(30, separator: /\s/) %><br>
																		<%= @mychoice.address %><br>
																		<%= @mychoice_distance.to_f.round(2) %> kms<br>
																		<%= @mychoice_distance_price.round(2) + @mychoice.price %>€<br><br>
																		<center><% breadcrumb :step_category %>
                                		<%= link_to "Learn More", experience_path(@mychoice, trail: breadcrumb_trail), class:"btn btn-dark btn-lg", style: "margin: 2px;" %>
                                		<%= link_to "More like this", {:controller => "step_category", :action => "index", :experience => @mychoice, :city_name => @city_name, :mychoice => @mychoice_distance, :multiplier => @multiplier, trail: breadcrumb_trail}, class:"btn btn-dark btn-lg", style: "margin: 2px;" %></center>
																	</div>
																</div>
															</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                        		  <div class="cuadro_intro_hover img-portfolio img-responsive">
															 <%= image_tag(@first_category.image_url, :height => "300px", :width => "100%") %>
																<div class="caption">
																	<div class="blur"></div>
																	<div class="caption-text">
																		<h3 style="padding:10px;"><%= p @first_category.title.truncate(20, separator: /\s/) %></h3>
																		<%= @first_category.description.truncate(30, separator: /\s/) %><br>
																		<%= @first_category.address %><br>
																		<%= @first_category.distance.to_f.round(2) %> kms<br>
																		<%= @first_category_distance_price.round(2) + @first_category.price %>€<br><br>
																		<center><% breadcrumb :step_category %>
                                		<%= link_to "Learn More", experience_path(@first_category, trail: breadcrumb_trail), class:"btn btn-dark btn-lg", style: "margin: 2px;" %>
                                		<%= link_to "More like this", {:controller => "step_category", :action => "index", :experience => @first_category, :city_name => @city_name, :mychoice => @first_category.distance, :multiplier => @multiplier, trail: breadcrumb_trail}, class:"btn btn-dark btn-lg", style: "margin: 2px;" %></center>
																	</div>
																</div>
															</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                        		  <div class="cuadro_intro_hover img-portfolio img-responsive">
															 <%= image_tag(@second_category.image_url, :height => "300px", :width => "100%") %>
																<div class="caption">
																	<div class="blur"></div>
																	<div class="caption-text">
																		<h3 style="padding:10px;"><%= p @second_category.title.truncate(20, separator: /\s/) %></h3>
																		<%= @second_category.description.truncate(30, separator: /\s/) %><br>
																		<%= @second_category.address %><br>
																		<%= @second_category.distance.to_f.round(2) %> kms<br>
																		<%= @second_category_distance_price.round(2) + @second_category.price %>€<br><br>
																		<center><% breadcrumb :step_category %>
                                		<%= link_to "Learn More", experience_path(@second_category, trail: breadcrumb_trail), class:"btn btn-dark btn-lg", style: "margin: 2px;" %>
                                		<%= link_to "More like this", {:controller => "step_category", :action => "index", :experience => @second_category, :city_name => @city_name, :mychoice => @second_category.distance, :multiplier => @multiplier, trail: breadcrumb_trail}, class:"btn btn-dark btn-lg", style: "margin: 2px;" %></center>
																	</div>
																</div>
															</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                        		  <div class="cuadro_intro_hover img-portfolio img-responsive">
															 <%= image_tag(@third_category.image_url, :height => "300px", :width => "100%") %>
																<div class="caption">
																	<div class="blur"></div>
																	<div class="caption-text">
																		<h3 style="padding:10px;"><%= p @third_category.title.truncate(20, separator: /\s/) %></h3>
																		<%= @third_category.description.truncate(30, separator: /\s/) %><br>
																		<%= @third_category.address %><br>
																		<%= @third_category.distance.to_f.round(2) %> kms<br>
																		<%= @third_category_distance_price.round(2) + @third_category.price %>€<br><br>
																		<center><% breadcrumb :step_category %>
                                		<%= link_to "Learn More", experience_path(@third_category, trail: breadcrumb_trail), class:"btn btn-dark btn-lg", style: "margin: 2px;" %>
                                		<%= link_to "More splurge travels", {:controller => "step_category", :action => "index", :experience => @third_category, :city_name => @city_name, :mychoice => @third_category.distance, :multiplier => @multiplier, trail: breadcrumb_trail}, class:"btn btn-dark btn-lg", style: "margin: 2px;" %></center>
																	</div>
																</div>
															</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>